body.dark-mode{
    background-image: url("https://wallpaperaccess.com/full/26371.jpg");
}

body.dark-mode .wrapper li{
    background-color: black;
}

body.dark-mode .dark, body.dark-mode .bi-brightness-high-fill, body.dark-mode .add-box, body.dark-mode .bottom-content, body.dark-mode .settings, body.dark-mode .content header i{
    background-color: black;
    color: purple;
    
}

body.dark-mode .note, body.dark-mode .content form textarea, body.dark-mode .content form, body.dark-mode form input, body.dark-mode .content header p{
    color: aliceblue;
}

body.dark-mode .bottom-content{
    border-top: 1px solid purple;
}

body.dark-mode .menu li{
    color: aliceblue;
}


body.dark-mode .popup .content{
    background-color: black;
}

body.dark-mode .content header{
    border-bottom: 1px solid purple;
}

body.dark-mode .content form :where(input, textarea){
    border: 1px solid purple;
    background-color: black;
}

body.dark-mode .content button{
    background-color: purple;
}

body.dark-mode .content button:hover{
    background-color:rgba(128, 0, 128, 0.699);
    box-shadow: 3px 3px 20px rgba(59, 59, 59, 0.801);
}

body.dark-mode ::-webkit-scrollbar {
    width: 10px;
}
  
  
body.dark-mode ::-webkit-scrollbar-track {
    background: #141414;
}
  

body.dark-mode ::-webkit-scrollbar-thumb {
    background:purple;
 }

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: gray;
}

body.dark-mode::-webkit-scrollbar {
    width: 10px;
}
  
  
body.dark-mode::-webkit-scrollbar-track {
    background: #141414;
}
  

body.dark-mode::-webkit-scrollbar-thumb {
    background:purple;
 }

body.dark-mode::-webkit-scrollbar-thumb:hover {
    background: gray;
}